OPENAI_API_KEY = "" # Leave this blank when deploying on Azure as AKV will be used instead
OPENAI_API_ENDPOINT = "https://pssi-portal-openai.openai.azure.com/"
OPENAI_API_EMBEDDING_ENDPOINT ="https://pssi-portal-openai.openai.azure.com/openai/deployments/text-embedding-3-large/embeddings?api-version=2023-05-15"
# Note this is not the model version, can be found in the URI for a model deployment in question
OPENAI_API_EMBEDDING_VERSION = "2023-05-15"
OPENAI_API_VERSION = "2025-01-01-preview"

AZURE_OPENAI_GPT4_o = "gpt-4o" # Name of GPT-4o OpenAI deployment
AZURE_OPENAI_GPT4_1_MINI = "gpt-4.1-mini" # Name of GPT-4.1-mini OpenAI deployment
AZURE_OPENAI_LARGE_EMBED_DEPLOYMENT = "text-embedding-3-large" # Name of large text embedding model
AZURE_OPENAI_SMALL_EMBED_DEPLOYMENT = "text-embedding-ada-002" # Name of small text embedding model
 
DI_API_ENDPOINT = "https://portal-extraction-di.cognitiveservices.azure.com/"
DI_API_KEY = "" # Leave this blank when deploying on Azure as AKV will be used instead